* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

button {
  background-color: purple;
  color: #fff;
  font-size: 20px;
  padding: 20px 30px;
  border: 1px solid purple;
  cursor: pointer;
  text-transform: uppercase;
  overflow: hidden;
  position: relative;
}

button:focus {
  outline: none;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  animation: scales 0.5s ease-in-out;
}

@keyframes scales {
  to {
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
